/*
[class^='col-'] {
	float: left;
	padding: 0;
	text-align: center;
}

.col-1of5 {
	width: 20%;
}

.grid::after {
	content: "";
	display: block;
	clear: both;
}
*/

*, *::after, *::before {
	box-sizing: border-box;
}

/* ----- = 70em ----- */

@media (max-width: 70em) {

}

/* ----- = 50em ----- */

@media (max-width: 50em) {
	
	/* ----- Portfolio section ----- */
	
}

/* ----- Mobile = 26.75em ----- */

@media (max-width: 26.75em) {

	/* ----- Nav Bars ----- */

	/* ----- Nav buttons ----- */

	/* ----- Welcome to my site ----- */

	/* ----- About section ----- */

	/* ----- Portfolio section ----- */

	/* ----- Resume page ----- */

	/* ----- Portfolio Detailed Pages ----- */

}