/* ----------------------------- Main ----------------------------- */

html {
	font-family: Circular STD, Gotham HTF, Lato, DINPro, Helvitica, Arial, sans-serif;
	font-size: 1.05rem;
	font-weight: 300;
	min-height: 100%;
}

#cirque {
	background-color: rgba(51, 150, 150, 0.05);
}

#nps {
	background-color: rgba(76, 124, 21, 0.05);
}

body {
	margin: 0 15vw;
	color: #444;
}

p {
	font-size: 1.1rem;
	line-height: 1.8rem;
	margin: 4vh 5vw;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

div img.end, div p.end, div a.end {
	margin-bottom: 3rem;
}

/* --------------------------- Headings --------------------------- */

h1 {
	font-family: Gotham HTF, Lato, Circular STD, DINPro, Helvitica, Arial, sans-serif;
	font-weight: 400;
	font-size: 5rem;
}

h2 {
	font-family: Gotham HTF, Lato, Circular STD, DINPro, Helvitica, Arial, sans-serif;
	font-weight: 600;
	font-size: 2rem;
	margin: 4vh 5vw;
	margin-top: 4rem;
}

h3 {
	font-family: Gotham HTF, Lato, Circular STD, DINPro, Helvitica, Arial, sans-serif;
	font-weight: 500;
	font-size: 1.3rem;
	margin: 4vh 5vw;
}

/* ---------------------------- Nav bar ---------------------------- */

#cirque .nav, #cirque .open-nav {
	background-color: rgba(51, 150, 150, 0.01);
}

#nps .nav, #nps .open-nav {
	background-color: rgba(76, 124, 21, 0.01);
}

.nav {
	position: fixed;
	overflow-x: hidden;
	height: 100vh;
	width: 0;
	top: 0;
	left: 0;
	background-color: #fff;
	transition: 0.5s;
	padding-top: 10vh;
	z-index: 1;
}

.nav a {
	font-family: Gotham HTF, Lato;
	display: inline-block;
	font-size: 1rem;
	font-weight: 450;
	text-decoration: none;
	color: #b3b3b3;
	margin: 0.2rem 2rem;
	padding: 0.4rem 0;
	padding-right: 0.4rem;
	transition: 0.3s;
}

.nav a:hover {
	color: #444;
}

.nav .close-nav {
	position: absolute;
	font-size: 45px;
	font-weight: 400;
	top: 1.2vh;
	left: 2.8vw;
	color: #b3b3b3;
	margin: 0;
	padding: 0;
}

.open-nav {
	position: fixed;
	font-size: 30px;
	cursor: pointer;
	top: 2vh;
	left: 2vw;
	color: #b3b3b3;
	border: none;
}

.open-nav:hover {
	color: #444;
}

/* ---------------------- Content containers ---------------------- */

#welcome {
	overflow: hidden;
	height: calc(100vh - 4rem);
	margin: 2rem;
	border-radius: 15px;
	background: #444;
}

.card {
	border-radius: 15px;
}

/* ----------------------------- Home ----------------------------- */

body#home {
	margin: 0;
}

#welcome h1 {
	font-family: Circular STD;
	font-size: 5rem;
	position: absolute;
	margin-top: 3rem;
	margin-left: 4rem;
	color: #fff;
}

#welcome h1:nth-of-type(2) {
	text-align: right;
	right: 0;
	margin-top: 68vh;
	margin-right: 5rem;
}

#welcome p {
	position: static;
	margin: 5vh 25vw;
	color: #fff;
}

#welcome p:nth-of-type(1) {
	margin-top: 22vw;
}

#portfolio .card, #home-etc .card {
	display: inline-block;
	width: calc(50vw - 3.2rem);
	border-radius: 15px;
	margin-left: 2rem;
	margin-bottom: 2rem;
}

#home-etc .card {
	text-align: center;
	font-size: 1.2rem;
	background-color: #444;
	color: #fff;
	padding: 3vh;
}

#home a:hover {
	opacity: 0.8;
}

/* ----------------------------- About ----------------------------- */

#about .current, #about h2 {
	color: #2acfcc;
}

.contact {
	margin: 2rem 5vw;
}

.contact a {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	border: dashed 0.1rem #b3b3b3;
	border-radius: 15px;
	width: 29vw;
	color: #444;
	margin-right: 0.5vw;
	margin-bottom: 1.5vh;
	padding: 1rem 0;
}

.contact a:hover {
	color: #2acfcc;
}

/* ------------------------ Portfolio pages ------------------------ */

#cirque .current, #cirque h2, #cirque .quote {
	color: #339696;
}

#nps .current, #nps h2, #nps .quote {
	color: #4c7c15;
}

#cirque .banner img, #nps .banner img {
	width: 70vw;
	margin-top: 3rem;
	margin-bottom: 1rem;
}

iframe {
	width: 70vw;
	height: 39.5vw;
	border: none;
	margin-top: 1rem;
}

.content img, .project img {
	width: 60vw;
	margin: 1rem 5vw;
}

.mini-margin .quote {
	margin: 0 10vw;
}

.mini-margin .quote-source {
	font-size: 0.8rem;
	font-style: italic;
	margin: 0.3rem 10vw 1.8rem 10vw;
	color: #b3b3b3;
}

.mini-margin img {
	width: 50vw;
	margin: 1rem 10vw;
}

.project iframe {
	width: 60vw;
	margin: 1rem 5vw;
}

#cirque .project iframe {
	height: 42.4vw;
}

#nps .project iframe {
	height: 34.9vw;
}

.project p {
	margin-top: 1rem;
	margin-bottom: 4rem;
}