/* ----------------------------- Main ----------------------------- */

html {
	font-family: Circular STD, Gotham HTF, Lato, DINPro, Helvitica, Arial, sans-serif;
	font-size: 1.05rem;
	font-weight: 300;
}

*, *::after, *::before {
	box-sizing: border-box;
}

body {
	float: none;
	width: 100vw;
	margin: 0;
	transition: 0.5s;
}

p {
	font-size: 1.1rem;
	line-height: 2rem;
	margin: 1.5rem 0;
	color: #555;
}

blockquote {
	font-family: FF Kievit Pro;
	font-size: 1.2rem;
	font-style: italic;
	line-height: 2rem;
	margin: 4rem 2.5rem 6rem 2.5rem;
	color: #b3b3b3;
}

blockquote:nth-of-type(n+2) {
	margin-top: -4rem;
}

.specifics p {
	margin: 0;
}

a, a button {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
	transition: all 0.25s;
}

.container a {
	border-bottom: solid 0.1rem #000;
}

.container a:hover {
	border-bottom: solid 0.1rem #ccc;
	color: #ccc;
}

/* --------------------------- Headings --------------------------- */

#home h1 {
	font-size: 2.5rem;
	margin: 0;
	margin-bottom: 2.5rem;
}

#me h1 {
	margin: 0;
	margin-bottom: 5vh;
}

#about h1 {
	font-size: 1.5rem;
	font-weight: 400;
}

.overview h1 {
	font-size: 5rem;
	font-weight: 600;
	margin: 5rem 0 4rem 0;
}

.overview h2 {
	font-size: 1.8rem;
	font-weight: 400;
	margin: -3.5rem 0 4rem 0 ;
}

h2 {
	font-family: Gotham HTF, Lato;
	font-weight: 600;
	font-size: 3.5rem;
	margin: 1rem 0 6rem 0;
}

h3 {
	font-family: Gotham HTF, Lato;
	font-weight: 500;
	font-size: 1.4rem;
	margin: 5rem 0 1rem 0;
}

h4 {
	font-weight: 100;
	font-size: 0.9rem;
	color: #b3b3b3;
	margin: 0;
	margin-top: 12rem;
}

.specifics h4, .design h4 {
	letter-spacing: 0.8px;
}

.specifics h4 {
	margin: 0 0 1rem 0;
}

.design h4:not(:nth-of-type(1)) {
	margin-top: 2rem;
}

/* --------------------------- Containers --------------------------- */

.container {
	margin: 0 20vw;
}

.container .end, .container .end.full-img {
	margin-bottom: 10rem;
}

#home .container {
	height: 100vh;
	display: table-cell;
	vertical-align: middle;
	margin: 0;
	padding: 0 20vw;
}

#about .container {
	margin: 20vh 20vw 15vh 20vw;
}

.col-2 {
	display: inline-block;
}

.specifics {
	float: left;
	width: 30vw;
	margin: 2rem 0 6rem 0;
}

.specifics:nth-of-type(1) {
	padding-right: 5vw;
}

.specifics:nth-of-type(2) {
	padding-left: 5vw;
}

.media {
	display: block;
	margin: 0 -20vw;
}

/*
.media iframe {
	width: 100vw;
	height: 100vh;
	margin: 0 -20vw;
}
*/

.container img {
	width: 60vw;
	margin: 2rem 0;
}

.container .full-img {
	width: 90vw;
	margin: 2rem -15vw;
}

/* ---------------------- Header: Back button ---------------------- */

.back-btn {
	position: absolute;
	top: 2rem;
	left: 2.5rem;
}

.back-btn button {
	font-family: Gotham HTF, Lato, Circular STD, DINPro, Helvitica, Arial, sans-serif;
	font-size: 0.8rem;
	border: solid 0.08rem;
	border-color: inherit;
	border-radius: 0.3rem;
	padding: 0.6rem 0.9rem;
	background-color: transparent;
	color: #fff;
}

.back-btn button:hover {
	border-color: #fff;
	background-color: #fff;
	color: #000;
}

#cirque .back-btn button:hover {
	color: #339696;
}

#nps .back-btn button:hover {
	color: #4c7c15;
}

/* ---------------------- Footer: Home button ---------------------- */

footer {
	text-align: center;
	margin-bottom: 2rem;
}

.home-btn button {
	font-family: Gotham HTF, Lato, Circular STD, DINPro, Helvitica, Arial, sans-serif;
	font-size: 1.1rem;
	border: solid 0.08rem;
	border-color: inherit;
	border-radius: 0.3rem;
	padding: 0.9rem 1.6rem;
	background-color: transparent;
	color: #000;
}

#cirque .home-btn button {
	border-color: #339696;
	color: #339696;
}

#cirque .home-btn button:hover {
	background-color: #339696;
	color: #fff;
}

#nps .home-btn button {
	border-color: #4c7c15;
	color: #4c7c15;
}

#nps .home-btn button:hover {
	background-color: #4c7c15;
	color: #fff;
}

/* ----------------------------- Home ----------------------------- */

#home-links {
	margin-top: 18vh;
}

#home-links a {
	font-size: 1.3rem;
	font-weight: 500;
}

#work {
	margin: 25vh 0;
	text-align: center;
}

#work img {
	width: 35vw;
}

#work a:nth-of-type(even) {
	margin-left: 5vw;
}

#work a:hover {
	opacity: 0.8;
}

/* ----------------------------- About ----------------------------- */

#about {
	background-color: #000;
	color: #fff;
}

#contact {
	margin-top: 15vh;
}

#contact a {
	border-bottom: solid 0.1rem;
}

#contact a:hover {
	opacity: 0.5;
}

/* ------------------------ Portfolio pages ------------------------ */

.banner-main {
	display: block;
}

.banner-phone {
	display: none;
}

.banner img {
	width: 100vw;
}

#cirque h1, #cirque blockquote {
	color: #339696;
}

#nps h1, .overview h2, #nps blockquote {
	color: #4c7c15;
}

/* ------------------------- Media Queries ------------------------- */

/* --------------------- Wide Desktop = > 90em --------------------- */

@media (min-width: 90em) {

}

/* ------------------ Desktop Full Screen = 90em ------------------ */

@media (max-width: 90em) {

}

/* ------------------------ Desktop = 70em ------------------------ */

@media (max-width: 70em) {

}

/* ------------------------- Tablet = 50em ------------------------- */

@media (max-width: 50em) {
	
	.overview h1 {
		font-size: 4.5rem;
	}
	
	.overview h2 {
		line-height: 2.5rem;
	}

	h2 {
		font-size: 2.5rem;
	}

	h3 {
		font-size: 1.3rem;
	}
	
	p {
		font-size: 1rem;
	}
	
	.container {
		margin: 0 10vw;
	}
	
	#home-links {
		margin-top: 10vh;
	}
	
	#work {
		margin: 15vh 0;
	}
	
	#work img {
		width: 46vw;
	}
	
	#work a:nth-of-type(even) {
		margin-left: 2vw;
	}
	
	.specifics {
		width: 40vw;
	}
	
	.media {
		margin: 0 -10vw;
	}
	
	.container img {
		width: 80vw;
	}
	
	.container .full-img {
		width: 90vw;
		margin: 2rem -5vw;
	}
	
}

/* ---------------------- Small Tablet = 36em ---------------------- */

@media (max-width: 36em) {
	
	#home h1 {
		font-size: 2rem;
	}
	
	.overview h1 {
		font-size: 3.5rem;
	}

	h2 {
		font-size: 2rem;
	}
	
	h4 {
		font-size: 0.8rem;
	}
	
	p {
		font-size: 0.95rem;
	}
	
	blockquote {
		font-size: 1.1rem;
		margin: 2rem 2.5rem 5rem 2.5rem;
	}
	
	blockquote:nth-of-type(n+2) {
		margin-top: -3rem;
	}
	
	#home-links {
		margin-top: 10vh;
	}

}

/* ----------------------- Mobile = 26.75em ----------------------- */

@media (max-width: 26.75em) {
	
	#about h1 {
		font-size: 1.3rem;
	}
	
	.overview h1 {
		font-size: 3rem;
		margin: 3rem 0 2rem 0;
	}
	
	.overview h2 {
		margin: -1.5rem 0 2rem 0;
	}

	h2 {
		margin-bottom: 4rem;
	}

	h3 {
		line-height: 2rem;
		margin: 4rem 0 1rem 0;
	}
	
	h4 {
		margin-top: 8rem;
	}
	
	.design h4:not(:nth-of-type(1)) {
		margin-bottom: -0.5rem;
	}
	
	p {
		margin: 1rem 0;
	}
	
	blockquote {
		font-size: 1rem;
		line-height: 1.5rem;
		margin: 2rem 1rem 4rem 1rem;
	}
	
	blockquote:nth-of-type(n+2) {
		margin-top: -2.5rem;
	}
	
	.container {
		margin: 0 5vw;
	}
	
	.container .end, .container .end.full-img {
		margin-bottom: 6rem;
	}
	
	#home .container {
		padding: 0 15vw;
	}
	
	#about .container {
		margin: 20vh 15vw 10vh 15vw;
	}
	
	.home-btn button {
		font-size: 1rem;
		padding: 0.7rem 1.2rem;
	}
	
	#work {
		margin-bottom: 1vh;
	}
	
	#work img {
		width: 90vw;
		margin-bottom: 2.5vh;
	}
	
	#work a:nth-of-type(even) {
		margin-left: 0;
	}
	
	.col-2 {
		margin: 0 0 3rem 0;
	}
	
	.specifics {
		width: 90vw;
		margin: 1.25rem 0;
	}
	
	.specifics:nth-of-type(n) {
		padding: 0;
	}
	
	.media {
		margin: 0 -5vw;
	}
	
	.container img {
		width: 90vw;
		margin: 1rem 0;
	}
	
	.container .full-img {
		width: 100vw;
		margin: 1rem -5vw;
	}

}