/* ----- Main ----- */

html {
	font-family: Lato, DINPro, Helvitica, Arial, sans-serif;
	font-size: 1.05rem;
	font-weight: 300;
	min-height: 100%;
}

html #cirque {
	font-family: Gill Sans, sans-serif;
}

#cirque h1, h3 {
	font-family: Cochin, sans-serif;
}

html #nps {
	font-family: Avenir, sans-serif;
}

#nps h1, h3 {
	font-family: Rawlinson, sans-serif;
}

body {
	margin: 0;
	padding: 0;
	/* width: 100%; */
	width: 100vw;
	/* height: 100%; */
	min-height: 100vh;
}

p {
	font-size: 1.1rem;
	line-height: 1.8rem;
}

/* ----- Headings ----- */

h1 {
	color: #fff;
	text-align: center;
	font-weight: 400;
	font-size: 5rem;
}

h2 {
	color: #fff;
	font-weight: 300;
	text-align: center;
}

h3 {
	font-weight: 400;
	font-size: 2rem;
}

h4 {
	color: #fff;
	font-weight: 400;
	font-size: 2rem;
}

h5 {
	font-weight: 400;
	font-size: 2rem;
}

/* ----- Nav Bar ----- */

.nav {
	position: absolute;
	background-color: #fff;
	width: 100%;
	height: 4rem;
	top: 0;
	padding: 0.5rem 0;
	/*
	-webkit-transition: -webkit-transform 1s ease-out;
	-moz-transition: -moz-transform 1s ease-out;
	-ms-transition: -ms-transform 1s ease-out;
	-o-transition: -o-transform 1s ease-out;
	transition: transform 1s ease-out;
	*/
}

/* ----- Hover Fade-In Code without JQuery ----- */
/*
.nav-fade:hover > .nav-fade-fill {
	opacity: 1;
	-webkit-transition: -webkit-transform 0.5s ease-in;
	-moz-transition: -moz-transform 0.5s ease-in;
	-ms-transition: -ms-transform 0.5s ease-in;
	-o-transition: -o-transform 0.5s ease-in;
	transition: transform 0.5s ease-in;
}
*/

.nav-toggle {
	clear: both;
	float: right;
	display: flex;
}

.nav-toggle a {
	opacity: 0.7;
	text-decoration: none;
	display: inline-block;
	margin-right: 5rem;
	font-size: 1.2rem;
	font-weight: 400;
	letter-spacing: 0.1rem;
	color: #2acfcc;
	-webkit-transition: -webkit-transform 0.3s ease-out;
	-moz-transition: -moz-transform 0.3s ease-out;
	-ms-transition: -ms-transform 0.3s ease-out;
	-o-transition: -o-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
}

.nav-toggle a:hover {
	opacity: 1;
	padding-bottom: 0.3rem;
	border-bottom: solid 0.2rem #2acfcc;
	-webkit-transition: -webkit-transform 0.08s ease-in;
	-moz-transition: -moz-transform 0.08s ease-in;
	-ms-transition: -ms-transform 0.08s ease-in;
	-o-transition: -o-transform 0.08s ease-in;
	transition: transform 0.08s ease-in;
	/*
	-webkit-transform: translate(0, -5px);
	-moz-transition: translate(0, -5px);
	-ms-transform: translate(0, -5px);
	-o-transform: translate(0, -5px);
	transform: translate(0, -5px);
	*/
}

.nav-toggle div {
	margin-top: 0.6rem;
}

/* ----- Nav buttons ----- */

#nav-logo {
	opacity: 0.7;
	margin-top: 0.45rem;
	margin-left: 2.5rem;
}

#nav-logo:hover {
	opacity: 1;
	transform: scale(1.05);
}

/* ----- Footer nav ----- */

.nav-footer h5 {
	position: relative;
	display: inline;
	float: left;
	margin: 0;
	margin-top: 3vh;
	margin-left: 5vw;
	padding: 0;
	color: #2acfcc;
	font-weight: 400;
	font-size: 1.1rem;
	letter-spacing: 0.05rem;
}

.nav-bottom {
	opacity: 1;
	/*background-color: #2acfcc;*/
	background-color: #fff;
	width: 100vw;
	height: 10vh;
	bottom: 0;
	margin-top: 2rem;
}

.nav-bottom:hover > .nav-external a {
	opacity: 0.7;
}

.nav-bottom:hover > .nav-external a:hover {
	opacity: 1;
}

.nav-external a {
	opacity: 0.3;
	text-decoration: none;
	display: inline-block;
	float: left;
	margin-top: 3vh;
	margin-left: 5vw;
	font-size: 1.1rem;
	font-weight: 400;
	letter-spacing: 0.05rem;
	color: #2acfcc;
	-webkit-transition: -webkit-transform 0.3s ease-out;
	-moz-transition: -moz-transform 0.3s ease-out;
	-ms-transition: -ms-transform 0.3s ease-out;
	-o-transition: -o-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
}

.nav-more a {
	opacity: 0.7;
	float: right;
	margin-left: 0;
	margin-right: 5vw;
}

.nav-external a:hover {
	opacity: 1;
	padding-bottom: 0.3rem;
	border-bottom-style: solid;
	border-bottom-width: 0.2rem;
	border-bottom-color: #2acfcc;
	/*color: #f6bf31;*/
	-webkit-transition: -webkit-transform 0.08s ease-in;
	-moz-transition: -moz-transform 0.08s ease-in;
	-ms-transition: -ms-transform 0.08s ease-in;
	-o-transition: -o-transform 0.08s ease-in;
	transition: transform 0.08s ease-in;
	/*
	-webkit-transform: translate(0, -5px);
	-moz-transition: translate(0, -5px);
	-ms-transform: translate(0, -5px);
	-o-transform: translate(0, -5px);
	transform: translate(0, -5px);
	*/
}

.nav-bottom.home {
	margin: 0;
}

/* ----- Content containers ----- */

.hello {
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	background: #2acfcc;
	margin: 0;
	padding: 0;
	z-index: 999;
}

.container {
	overflow: hidden;
	width: 100vw;
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 100%;
	float: left;
}

.pad {
	padding: 0 15vw;
}

/* ----- Welcome to my site ----- */

.hello h1 {
	color: #fff;
	text-align: center;
	font-weight: 400;
	font-size: 5rem;
	margin-top: 38vh;
	margin-bottom: 0;
}

.hello-text h2 {
	width: 100vw;
	text-align: center;
	color: #fff;
	font-weight: 300;
	margin-top: 3vh;
}

.see-more {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
}

.down-arrow {
	opacity: 0.6;
	height: 30px;
	margin-bottom: 2rem;
}

.down-arrow:hover, .up-arrow:hover, .up-arrow-detail:hover {
	opacity: 1;
}

.up-arrow, .up-arrow-detail {
	display: none;
	opacity: 0.6;
	position: fixed;
	right: 4rem;
	bottom: 6rem;
	height: 20px;
	z-index: 99;
}

/* ----- Portfolio section ----- */

.section-portfolio {
	overflow: auto;
	text-align: center;
	margin: 1rem 0;
}

.section-portfolio a {
	text-decoration: none;
	color: #fff;
}

#cirque-link .container {
	margin: 2rem 0;
	background-color: #fff;
}

#nps-link .container {
	margin: 2rem 0;
	background-color: #fff;
}

#cirque-link .portfolio-logo {
	position: absolute;
	opacity: 0.2;
	margin: 8vh 16vw;
	width: 60vw;
	z-index: 1
}

#nps-link .portfolio-logo {
	position: absolute;
	opacity: 0.3;
	margin: 30vh 17vw;
	width: 60vw;
	z-index: 1
}

.portfolio-demo {
	position: relative;
	opacity: 1;
	text-align: center;
	width: 90vw;
	z-index: 0;
}

/* ----- About section ----- */

.about-intro {
	color: #7bd8da;
}

#about-page.section-detail {
	text-align: center;
}

.about-me {
	width: 84vw;
	margin: 0 8vw;
}

#about-page img {
	height: 60vh;
	margin: 3rem 0;
}

#about-page.section-detail h3 {
	color: #7bd8da;
	border-bottom-color: #7bd8da;
}

#about-page .about-icons {
	max-height: 20vh;
	text-align: center;
	margin: 1.5rem 0 -1rem 0;
}

.about-me p {
	text-align: left;
	margin: 1.5rem 0;
	padding: 0 4rem;
}

/* ----- Resume page ----- */

.resume {
	margin-top: 4rem;
}

/* ----- Portfolio Detailed Pages ----- */
#cirque .highlight {
	background-color: rgba(252, 183, 41, 0.2);
}

#cirque h1 {
	font-weight: 600;
	font-size: 7.3vh;
	letter-spacing: 0.2rem;
	margin: 0;
	color: #fcb729;
}

#cirque h2 {
	font-weight: 300;
	font-size: 4vh;
	margin: 0;
	margin-top: 0.8rem;
	margin-bottom: 3rem;
	color: #fcb729;
}

#cirque h3 {
	text-align: left;
	font-size: 1.8rem;
	font-weight: 700;
	margin-top: 4rem;
	margin-bottom: 1rem;
	color: #000;
}

#cirque h4 {
	font-size: 1.15rem;
	font-weight: 400;
	margin: 0.5rem 0;
	color: #fcb729;
}

#nps .highlight {
	background-color: rgba(33, 118, 198, 0.2);
}

#nps h1 {
	font-weight: 600;
	font-size: 7.3vh;
	letter-spacing: 0.2rem;
	margin: 0;
	color: #2176c6;
}

#nps h2 {
	font-weight: 300;
	font-size: 3.8vh;
	margin: 0;
	margin-top: 0.8rem;
	margin-bottom: 3rem;
	color: #2176c6;
}

#nps h3 {
	text-align: left;
	font-size: 1.8rem;
	font-weight: 700;
	margin-top: 4rem;
	margin-bottom: 1rem;
	color: #000;
}

#nps h4 {
	font-size: 1.15rem;
	font-weight: 400;
	margin: 0.5rem 0;
	color: #2176c6;
}

#nps p {
	font-size: 1rem;
}

.project-info {
	overflow: auto;
	margin-top: 4rem;
	padding-top: 2rem;
}

.project-team {
	font-size: 0.95rem;
	font-weight: 400;
	margin: 2rem 0;
	color: #909090;
}

iframe {
	width: 70vw;
	height: 71vh;
	border: none;
	margin-top: 2rem;
}

.project-content .centred {
	text-align: center;
}

.project-content .img-top, .img-middle, .img-bottom {
	text-align: center;
	width: 60vw;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.project-content .img-top {
	margin-top: 0;
}

.project-content .img-bottom {
	margin-bottom: 0;
}

.project-final .centred {
	text-align: center;
}

.project-final .img-top, .img-middle, img-bottom {
	text-align: center;
	width: 60vw;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.project-final .img-top {
	margin top: 0;
}

.project-final .img-bottom {
	margin-bottom: 0;
}